@use "sass:list";

$experience-colors: (
  #3c84c7,
  #0fa36b,
  #800080,
  #e95d90
);

.bigNumbers {
  font-size: 5rem;
  font-weight: 400;
  color: #8491a0;
  margin: 0;
}

.experience-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;

  @each $color in $experience-colors {
    $i: list.index($experience-colors, $color);
    
    &--color-#{$i} {
      color: $color;
    }
  }
}

.experienceText {
  font-size: 0.9rem;
  font-weight: 400;
  color: #8491a0;
  max-width: 80%;
}
